<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/hibernate-HQL-criteriaAPI/src/main/java/com/app/Criteria_API.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.app.Criteria_API"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="hibernate-HQL-criteriaAPI"/>
</launchConfiguration>
